
.example-buttons{
    display: block
}


.button1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }


  /* Button 2 */
  
.container {

	height: 50px;
	width: 200px;
	margin: auto;
}
.container:active{
    transform: translateY(6px);
    -webkit-transition: transform .2s ease-in-out;
}
.bu2 {
	height: 100%;
	width: 100%;
	display: block;
	outline: none;
	padding: 20px;
	color: black;
	text-transform: uppercase;

	box-sizing: border-box;
	text-align: center;
	line-height: 14px;
	font-family: roboto, helvetica;
	font-weight:300;
	letter-spacing: 1px;
	text-decoration: none;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
  /*border-radius: 50px;*/
	-webkit-tap-highlight-color: transparent;
    border-radius: 5px;
    
}

.bu2:focus {
	outline: none;
}

.bu2::selection {
	background: transparent;
	pointer-events: none;
}

/* Button 3 */

.button3 {
    border: 4px solid #3F3F3F;
    color: #3F3F3F;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}

.button3 .label,
.button3 .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

.button3 .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.button3 .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

.button3 .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

.button3 .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

.button3:hover .label {
    transform: translateX(-52px);
}

.button3:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

.button3:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

.button3:active {
    border-color: #FD6154;
    color: #FD6154;
}

.button3:active .icon-arrow {
    fill: #FD6154;
}
  
/* Button 4 */


#wrapper{
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .my-super-cool-btn{
    position:relative;
    text-decoration:none;
    color:black;
    letter-spacing:1px;
    font-size:2rem;
    box-sizing:border-box;
  }
  .go-bu{
    position:relative;
    box-sizing:border-box;
    display:flex;
    background-color: #FD6154;
    border-radius: 100%;
    align-items:center;
    justify-content:center;
    -webkit-transition: transform .2s ease-in-out;
    width:200px;
    height:200px;
  }
  .go-bu:before{
    content:'';
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    border-radius: 100%;
    border:7px solid black;
    box-sizing:border-box;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
    box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
  }
  .my-super-cool-btn:hover{
      
  }
  .my-super-cool-btn:hover .go-bu{
    transform:scale(0.8);
    -webkit-transition: transform .2s ease-in-out;
    box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
  }
  .my-super-cool-btn .dots-container{
    opacity:0;
    animation: intro 1.6s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn .dot{
    width:8px;
    height:8px;
    display:block;
    background-color:#F3CF14;
    border:1px solid black;
    border-radius:100%;
    position:absolute;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  }
  .my-super-cool-btn .dot:nth-child(1){
    top:50px;
    left:50px;
    transform:rotate(-140deg);
    animation: swag1-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(2){
    top:50px;
    right:50px;
    transform:rotate(140deg);
    animation: swag2-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(3){
    bottom:50px;
    left:50px;
    transform:rotate(140deg);
    animation: swag3-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(4){
    bottom:50px;
    right:50px;
    transform:rotate(-140deg);
    animation: swag4-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn:hover .dot:nth-child(1){
    animation: swag1 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(2){
    animation: swag2 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(3){
    animation: swag3 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(4){
    animation: swag4 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes intro {
     0% {
       opacity:0;
    }
    100% {
       opacity:1;
    }
  }
  @keyframes swag1 {
     0% {
       top:50px;
       left:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       top:20px;
       left:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag1-out {
     0% {
       top:20px;
       left:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       top:50px;
       left:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag2 {
     0% {
       top:50px;
       right:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       top:20px;
       right:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag2-out {
     0% {
       top:20px;
       right:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       top:50px;
       right:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag3 {
     0% {
       bottom:50px;
       left:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       bottom:20px;
       left:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag3-out {
     0% {
       bottom:20px;
       left:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       bottom:50px;
       left:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag4 {
     0% {
       bottom:50px;
       right:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       bottom:20px;
       right:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag4-out {
     0% {
       bottom:20px;
       right:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       bottom:50px;
       right:50px;
       width:8px;
      opacity:0;
    }
  }
  

  /* Button 5 */



.rot-bu {
	font-size: 20px;
font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
	color: black;
    position: relative;
    width: 256px;
	height: 64px;
    line-height: 64px;
    transition: all 0.3s;
	border: 1px solid rgb(0, 0, 0);
	-webkit-box-shadow: 6px 6px 5px 0px rgba(49, 38, 38, 0.75);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }
  
  .rot-bu::before, .rot-bu::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  /* rot-bu TWO */
.rot-bu-two::before, .rot-bu-two::after {
    content: '';
    position: absolute;
    width: 100%;
      height: 100%;
    bottom: 0;
      left: 0;
      z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .rot-bu-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  .rot-bu-two:hover::before {
    animation-name: rotateccw; 
    animation-duration: 3s;
  }
  .rot-bu-two:hover::after, .rot-bu-two:hover::before {
    left: 96px; 
    width: 64px;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .rot-bu-two:active {
	transform: translateY(8px);
  }
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateccw {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }